#topNav {
  background-color: #f2f2f2;
  width: 100%;
  height: 60px;
  position: relative;
}

#logo {
  margin-top: 10px;
  margin-left: 30px;
  width: 100px;
  height: 40px;
}

#noti {
  float: right;
  margin: 20px 30px;
  width: 14px;
  height: 18px;
}

#help {
  float: right;
  margin: 20px -10px;
  width: 18px;
  height: 18px;
}

#stdtName {
  float: right;
  margin: 20px 30px;
  color: #5d5d5d;
  font-family: "Arial";
  font-size: 12px;
  font-family: "Roboto";
}

.content {
  max-width: 80%;
  margin: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-family: "Arial";
  font-size: 12px;
}

table td {
  border: 1px solid;
  border-color: #c5c5c5;
  vertical-align: top;
}

.description td {
  padding: 15px;
}
.description tr:first-child td {
  border-top: 0;
}
.description tr:last-child td {
  border-bottom: 0;
}
.description tr td:first-child,
.description tr th:first-child {
  border-left: 0;
}
.description tr td:last-child,
.description tr th:last-child {
  border-right: 0;
}

#pts {
  float: right;
  clear: right;
  margin-top: 10px;
  font-family: "Arial";
  font-size: 12px;
}

.greybtn {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  float: right;
  background-color: #c5c5c5;
  color: #5d5d5d;
}

#dropbtn {
  float: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 180px;
  overflow: auto;
  z-index: 1;
  right: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: #5d5d5d;
  padding: 12px 30px;
  text-decoration: none;
  display: block;
  float: none;
}

.dropdown a:hover {
  background-color: #0d6b94;
  color: #ffffff;
  left: auto;
  right: 0;
}

.show {
  display: block;
}

.mainPart {
  margin-top: 50px;
}

.vandq td {
  width: 50%;
  padding: 0;
}
.vandq td:first-child {
  border: 0;
}
.vandq td:last-child {
  border-top: 0;
  border-left: 0;
}

.start {
  background-color: #ffffff;
  color: #0d6b94;
  font-size: 25px;
  text-align: center;
  padding-left: 30px;
  position: relative;
}

.topBar {
  background-color: #f2f2f2;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#choices {
  color: #5d5d5d;
  padding-left: 20px;
  padding-top: 5px;
}

.bluebtn {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  float: right;
  background-color: #0d6b94;
  color: #ffffff;
}

#subQ, #resumeQ, #subQCon, #review {
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.popup {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  font-family: "Arial";
  font-size: 12px;
  background-color: #ffffff;
  height: 80px;
  padding-left: 20px;
  position: absolute;
  left: 50px;
  top: 20px;
  z-index: 10;
}

#error {
  width: 430px;
  border-top: 4px solid #df0018;
}

.redMarker {
  color: #df0018;
}

#success {
  width: 300px;
  border-top: 4px solid #048234;
}

.greenMarker {
  color: #048234;
}

.close {
  float: right;
  padding-right: 10px;
  font-size: 25px;
}
.close:hover, .close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.confirmbg {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.4);
}

.confirm {
  background-color: #ffffff;
  margin: auto;
  width: 80%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.conTitle {
  font-family: "Arial";
  font-size: 25px;
}

.popText {
  font-family: "Arial";
  font-size: 12px;
  padding-left: 20px;
}

hr {
  width: 95%;
  color: #f2f2f2;
}

.topScore {
  position: relative;
  margin-bottom: 20px;
  height: 150px;
}

.chartText {
  position: absolute;
  width: 100%;
  top: 60px;
  z-index: 1;
}

.scorePercent {
  display: inline;
  margin-left: 50px;
  font-size: 30px;
  color: #0d6b94;
}

.yqs {
  margin-left: 45px;
  display: inline;
  font-size: 30px;
  color: #c5c5c5;
}

.scoreText {
  margin-top: 10px;
  position: relative;
  display: inline;
  float: right;
}

.container {
  max-width: 430px;
  padding-left: -10px;
}

#backToAssn {
  float: right;
}

#qLevel {
  display: inline;
}

#qCorrect {
  display: inline;
  float: right;
}

.vandr td {
  border: none;
  width: 50%;
  padding: 0;
}
